<h2>Hello. I'm Archit</h2>
<p><img src="http://www.gravatar.com/avatar/0ccfea9da6bea4ae68310acfbe79b17a.png" alt="Eric Jones" title="Follow me on Twitter @architv07"  class="img-rounded floatLeft" />			
Multilingual programmer and Electrical engineer.</p>					
<p><iframe class="github-btn" src="http://ghbtns.com/github-btn.html?user=architv&repo=blog&type=watch&count=true" allowtransparency="true" frameborder="0" scrolling="0" width="80px" height="20px"></iframe>&nbsp;<iframe class="github-btn" src="http://ghbtns.com/github-btn.html?user=architv&repo=architv.github.com&type=fork&count=true" allowtransparency="true" frameborder="0" scrolling="0" width="98px" height="20px"></iframe></p>
<p><a href="https://twitter.com/architv07" class="twitter-follow-button" data-link-color="#0069D6" data-show-count="true">Follow @architc07</a></p>
<p>
	<ul class="buttons unstyled">
	  <li><a href="http://github.com/architv" rel="me" class="social github" title="Go to github.com/erjjones" target="_blank"></a></li>
	  <li><a href="http://in.linkedin.com/in/architv/" rel="me" class="social linkedin" title="Go to LinkedIn profile" target="_blank"></a></li>
	  <li><a href="http://www.twitter.com/architv07" rel="me" class="social twitter" title="Go to twitter.com/erjjones" target="_blank"></a></li>
	  <li><a href="http://feeds.feedburner.com/github/xmyo" rel="me" class="social rss" title="Go to feedburner erjjones rss feed" target="_blank"></a></li>
	  <li><a href="https://plus.google.com/+ArchitVermaArchitv/posts" rel="me" class="social gplus" title="Go to Google Plus profile" target="_blank"></a></li> 
	  <li><a href="https://github.com/architv/blog/issues/new" rel="me" class="social mail" title="Leave feedback for Archit"  target="_blank"></a></li>				
	</ul>
</p>